name: Validate output netpols on a live cluster

on:
  push:
    branches:
    - main
    paths:
    - 'tests/**'
  pull_request:
    paths:
    - 'tests/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-test-output:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
      with:
        go-version-file: ./go.mod

    - name: Build
      run: make

    - name: Bring up a live cluster
      uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab

    - name: Test output on a live cluster
      run: |
        ./bin/net-top -dirpath tests/onlineboutique/kubernetes-manifests.yaml -outputfile netpols.yaml -netpols
        kubectl apply -f netpols.yaml
