name: Validate output netpols on a live cluster

on:
  push:
    branches:
    - main
    paths:
    - 'tests/**'
  pull_request:
    paths:
    - 'tests/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-test-output:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        go-version-file: ./go.mod

    - name: Build
      run: make

    - name: Bring up a live cluster
      uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3

    - name: Test output on a live cluster
      run: |
        ./bin/net-top -dirpath tests/onlineboutique/kubernetes-manifests.yaml -outputfile netpols.yaml -netpols
        kubectl apply -f netpols.yaml
